# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout
# Swift Package Manager
.build/
# CocoaPods
Pods/
# Carthage
Carthage/Build/
# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
# Code Injection
iOSInjectionProject/
# Other
*.moved-aside
*.xcuserstate
*.xcworkspace
!default.xcworkspace

# Firebase
GoogleService-Info.plist